@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rock+Salt&display=swap');            

* {
    font-family: "EB Garamond", Helvetica, sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    background-color: white;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color:#04355B;
}

#logo_link {
    align-self: center;
    justify-self: center;
    display: flex;
}

#logo_link img {
    max-height: 70px;
}

#logo_link img:hover {
    max-height: 80px;
}

#logo_link img:active {
    max-height: 75px;
}

nav {
    width: 100%;
    display: flex;
}

nav a {
    width: 100%;
    padding: 35px;
    /* align-items: center; */
    text-align: center;
    color: white;
}

nav a:hover {
    color: #04355B;
    background-color: #F5DC71;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #04355B;
    background-color: #F5DC71
}

h1, section h2 {
    font-family: "Rock Salt", "EB Garamond", sans-serif;
}

h4 {
    color: #04355B;
}

.home-title {
    margin-top: 10px;
    color: #04355B;
    font-size: 2em;
}

.button-box {
    text-align: center;
    padding: 15px;
    /* background-color: black; */
}

.book, .join {
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    background-color: #4F738D;
}

.book:hover {
    color: #04355B;
    background-color: #F5DC71;
}

.join:hover {
    color: white;
    background-color: #04355B;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    width: 100%;
    grid-row: 2/3;
    align-self: baseline;
}

.rivers-card {
    grid-column: 2/4;
}

.camping-card {
    grid-column: 5/7;
}

.rapids-card {
    grid-column: 8/10;
}

.card-img {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: cover;
    border: 10px solid #F5DC71;
}

.card-img, .mountains, .msg {
    box-shadow: 5px 5px 5px #04355B;
}

.icon {
    padding-top: 10px;
    width: 80px;
}

h2 {
    margin: 0;
    padding: 0;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    align-self: center;
}

.msg {
    padding: 35px;
    line-height: 1.5em;
    background-color: #F5DC71;
    grid-column: 6/10;
    grid-row: 6/7;
}

.msg h2 {
    color: #04355B;
}

.msg p {
    padding-bottom: 15px;
    font-size: 0.8em;
    color: black;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #4F738D;
    grid-column: 1/11;
    grid-row: 4/9;
}

footer {
    margin-top: 200px;
    padding: 25px 50px;
    color: white;
    background-color: #04355B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

.site_link {
    color: white;
    text-decoration: underline;
}

.site_link:hover {
    color: #04355B;
    background-color: #F5DC71;
}

.social img {
    margin: 15px;
    max-height: 30px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-box, #hero-msg {
        grid-column: auto;
        grid-row: auto;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card {
        width: 60%;
    }
    .rivers-card, .camping-card, .rapids-card, .mountains, .msg {
        grid-column: auto;
        grid-row: auto;
        margin: 50px auto;
    }
    .card-img, .mountains, .msg {
        box-shadow: 5px 5px 5px #4F738D;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}