/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.55fr 1fr 1fr 0.55fr;
  gap: 20px;
}
.red1, .blue1 {
  grid-column: 1/3;
  height: 100%;
  width: 100%;
}
.red1 {
  align-self:flex-start;
  margin-bottom: 10px;
  background-color: red;
}
.blue1 {
  align-self: flex-end;
  background-color: blue; 
}
.green1, .yellow1 {
  justify-self: center;
  width: 60%;
  aspect-ratio: 1/1;
}
.green1 {
  background-color: green; 
} 
.yellow1 {
  background-color: gold; 
}
/* Activity 2 styles */ 
.content2 {
  height: 400px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px;
}
.red2 {
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: red; 
} 
.green2 {
  grid-column: 2/4;
  grid-row: 2/4;
  background-color: green; 
} 
.yellow2 {
  grid-column: 3/5;
  grid-row: 3/5;
  background-color: gold; 
} 
.blue2 {
  grid-column: 4/6;
  grid-row: 4/6;
  background-color: blue; 
} 
/* Activity 3 styles */ 
.content3 {
  width: 400px;
  aspect-ratio: 2/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-column-gap: 10%;
}
.red3, .blue3 {
  grid-column: 1/3;
}
.red3 {
  grid-row: 1/2;
  background-color: red; 
}
.blue3 {
  grid-row: 3/4;
  background-color: blue; 
}
.green3, .yellow3 {
  grid-row: 2/3;
}
.green3 {
  grid-column: 1/2;
  background-color: green;
} 
.yellow3 {
  grid-column: 2/3;
  background-color: gold; 
}
/* Activity 4 styles */ 
.content4 {
  /* This is the parent of the activity 4 boxes. */
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.red4 {
  grid-column: 1/2;
  grid-row: 1/4;
  background-color: red; 
}
.green4, .yellow4, .blue4 {
  grid-column: 2/3;
}
.green4 {
  background-color: green; 
} 
.yellow4 {
  background-color: gold; 
} 
.blue4 {
  background-color: blue; 
} 
/* Activity 5 styles */ 
.content5 {
  height: 400px;
  aspect-ratio: 4/3;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  max-height: 450px;
}
.red5, .yellow5, .blue5 {
  grid-column: 1/2;
}
.red5 {
  grid-row: 1/2;
  background-color: red; 
}
.yellow5 {
  grid-row: 2/5;
  font-family: 'Times New Roman';
  font-size: 14px;
  border: 1px solid steelblue;
  background-color: gold; 
}
.blue5 {
  grid-row: 5/6;
  background-color: blue; 
} 
.green5 {
  aspect-ratio: 1/1;
  float: left;
  height: 75%;
  background-color: green; 
}
/* Activity 6 styles */ 
.content6 {
  height: 400px;
  aspect-ratio: 1/1;
  padding-right: 1%;
  display: grid;
  border-bottom: 2px solid black;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.red6 {
  z-index: 0;
  grid-column: 1/5;
  grid-row: 1/3;
  background-color: red; 
}
.blue6 {
  z-index: 1;
  grid-column: 2/6;
  grid-row: 2/6;
  background-color: blue; 
}
.green6 {
  z-index: 2;
  grid-column: 1/3;
  grid-row: 5/7;
  background-color: green; 
}
.yellow6 {
  z-index: 3;
  grid-column: 5/7;
  grid-row: 3/10;
  background-color: gold; 
}


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}