/* The following is the css for the all pages. */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    text-decoration: none;
    color: #FFFDED;
}

.sticky {
    position: sticky;
    top: 0;
}

html {
    scroll-padding-top: 120px;
}

body, header, #hero, main, footer {
    margin: 0;
    padding: 0;
}

body {
    background-color: #201335;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

header {
    min-height: 100px;
    width: 100%;
    z-index: 3;
    display: block;
    background-color: #201335;
    box-shadow: 0 10px 10px #201335;
}

.logo_link {
    margin: 0 auto;
}

.logo {
    max-height: 65px;
    filter: invert();
}

header nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

header nav a {
    width: 100%;
    padding: 1% 3% 1% 3%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #4F4789;
    transition: background-color 0.3s;
}

header nav a:hover {
    color: #201335;
    background-color: #FFB17A;
}

#hero {
    height: 120vh;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 60%;
}

#title_and_summary {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    z-index: 1;
    background-color: rgba(255, 177, 122, 0.75);
    box-shadow: 0 10px 10px #4F4789;
}

h1, h2, a {
    font-family:'Lucida Sans Unicode', Verdana, sans-serif;
}

#title, #summary {
    color: #201335;
}

#page_description {
    grid-column: 2/3;
    grid-row: 2/3;
}

#hero_img_container {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2;
}

#hero_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main {
    margin: -20% 0 10% 0; /* Top will change to about -17% or -15% when the code for phone screens gets implemented*/
}

footer {
    margin: 3% 7% 3% 7%;
    display: grid;
    background-color: #4F4789;
}

footer * {
    grid-row: 1/2;
    align-self: center;
}

footer img {
    margin: 3% 0 0 0;
}