/* The following is the css for the ICE portal page. */

main hr {
    padding: 0;
    margin: 2% 0 2% 0;
}
.ice_section {
    padding: 2% 7% 2% 7%;
    background-color: #4F4789;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    column-gap: 5%;
}
.ice_title_link, .excercise_paragraphs {
    text-align: left;
}
.ice_title_link {
    grid-row: 1/2;
    width: max-content;
    justify-self: flex-start;
    align-self: flex-end;
}
.ice_title_link h1 {
    margin: 0;
    padding: 0;
    text-shadow: 3px 5px 5px #201335;
    transition: color 0.3s;
}
.ice_title_link h1:hover {
    color: #201335;
}
.ice_image_container, .excercise_paragraphs {
    border: 2px solid #201335;
    box-shadow: 3px 5px 5px #201335;
}
.ice_image_container {
    grid-column: 1/2;
    grid-row: 1/3;
    min-height: 100px;
    min-width: 100px;
    border: 2px solid #201335;
}
.ice_image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: sepia(100%) hue-rotate(207deg) saturate(2);
    transition: filter 0.3s;
}
.ice_image_container img:hover {
    filter: none
}
.excercise_paragraphs {
    grid-row: 2/3;
    margin: 0 0 2% 0;
    padding: 1.3% 2% 2% 2%;
    height: max-content;
    background-color: #FCE762;
}
.excercise_paragraphs * {
    color: #201335;
}