#wwr, #ice {
    padding: 5% 0 5% 0;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
}
#wwr *, #ice * {
    grid-column: 2/3;
}
#wwr_title_link_background, #ice_title_link_background {
    grid-column: 1/2;
    grid-row: 1/3;
}
#wwr_heading, #ice_heading {
    margin: 0 20% 3% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.75fr;
    column-gap: 5%;
    text-align: left;
}
#wwr_heading *, #ice_heading * {
    color: #201335;
}
#wwr_description_background, #ice_description_background {
    grid-column: 2/3;
    grid-row: 1/3;
}
.background {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #FCE762;
    border: 3px solid #FFB17A;
}
#wwr_heading h1, #wwr_heading a, #ice_heading h1, #ice_heading a {
    grid-column: 1/2;
    justify-self: right;
}
.section_title, .section_link, .section_description {
    padding: 0 10% 0 10%;
}
.section_title {
    grid-row: 1/2;
    align-self: end;
}
.section_link {
    height: min-content;
    grid-row: 2/3;
    transition: font-weight 0.3s;
}
.section_link:hover {
    font-weight: bold;
}
.section_description {
    align-self: center;
}
#wwr_heading h3, #ice_heading h3 {
    grid-row: 1/3;
}
#wwr_examples, #ice_projects{
    padding: 3% 7% 3% 7%;
    grid-row: 2/3;
    background-color: #FFFDED;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
}
#wwr_examples *, #ice_projects * {
    color: #201335;
    align-items: center;
}
.wwr_example, .ice_project {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.wwr_example *, .ice_project * {
    grid-row: 1/2;
}
.wwr_example div, .wwr_example p, .ice_project a, .ice_project p {
    border: 3px solid #FFB17A;
    box-shadow: 5px 10px 3px #4F4789;
}
.wwr_example p, .ice_project p {
    min-height: 100px;
    padding: 5%;
    background-color: #FCE762 ;
}
.example_project_image {
    width: 75%;
    aspect-ratio: 1/1;
    overflow: hidden;
    transition: width 0.3s;
}
.example_project_image:hover {
    width: 150%;
    z-index: 1;
}
.wwr_example img, .ice_project img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}
#wwr_example_one div, #wwr_example_two div, #wwr_example_three div, #signup a, #gallery a, #positioning a, #grid_flags a, #halloween_page a, #favorite_devo_table a, #apostles_spotlight a, #prophet_card a {
    grid-column: 1/4;
}
#wwr_example_one p, #wwr_example_two p, #wwr_example_three p, #signup p, #gallery p, #positioning p, #grid_flags p, #halloween_page p, #favorite_devo_table p, #apostles_spotlight p, #prophet_card p {
    grid-column: 3/6;
}
.ice_project .ice_page_p_link {
    height: 0;
    padding: 0;
    text-decoration: underline;
    border: 0;
    box-shadow: 0 0;
    transition: font-weight 0.3s;
}
.ice_project .ice_page_p_link:hover {
    font-weight: bold;
}
#wwr_example_one {
    grid-column: 1/2;
}
#wwr_example_two {
    grid-column: 2/3;
}
#wwr_example_three {
    grid-column: 3/4;
}
#prophet_card, #halloween_page, #gallery {
    grid-column: 1/2;
}
#apostles_spotlight, #grid_flags, #signup {
    grid-column: 2/3;
}
#favorite_devo_table, #positioning {
    grid-column: 3/4;
}
#prophet_card, #apostles_spotlight, #favorite_devo_table {
    margin: 0 0 4% 0;
    grid-row: 1/2;
}
#halloween_page, #grid_flags, #positioning {
    margin: 4% 0 0 0;
    grid-row: 2/3;
}
#gallery, #signup {
    margin: 4% 0 0 0;
    grid-row: 3/4;
}
#about_me {
    padding: 8% 7% 0 7%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    /* grid-template-rows: 0.1fr; */
    column-gap: 7%;
    text-align: left;
}
#about_me div {
    grid-column: 1/2;
    grid-row: 1/3;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 5px solid #FFFDED;
}
#about_me img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#about_me h2, p {
    margin: 0;
    height: min-content;
    grid-column: 2/3;
}
#about_me h2 {
    align-self: end;
}