* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    text-decoration: none;
    color: #FFFDED;
}
.sticky {
    position: sticky;
    top: 0;
}
html {
    scroll-padding-top: 120px;
}
body, header, #hero, main, footer {
    margin: 0;
    padding: 0;
}
body {
    background-color: #201335;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
header {
    min-height: 100px;
    width: 100%;
    z-index: 3;
    display: block;
    background-color: #201335;
    box-shadow: 0 10px 10px #201335;
}
.logo_link {
    margin: 0 auto;
}
.logo {
    max-height: 65px;
    filter: invert();
}
header nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
}
header nav a {
    width: 100%;
    padding: 1% 3% 1% 3%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #4F4789;
    transition: background-color 0.3s;
}
header nav a:hover {
    color: #201335;
    background-color: #FFB17A;
}
#hero {
    height: 120vh;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 60%;
}
#title_and_summary {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    z-index: 1;
    background-color: rgba(255, 177, 122, 0.75);
    box-shadow: 0 10px 10px #4F4789;
}
h1, h2, a{
    font-family:'Lucida Sans Unicode', Verdana, sans-serif;
}
#title, #summary {
    color: #201335;
}
#page_description {
    grid-column: 2/3;
    grid-row: 2/3;
}
#hero_img_container {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2;
}
#hero_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main {
    margin: -20% 0 10% 0; /* Top will change to about -17% or -15% when the code for phone screens gets implemented*/
}
#wwr, #ice {
    padding: 5% 0 5% 0;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
}
#wwr *, #ice * {
    grid-column: 2/3;
}
#wwr_title_link_background, #ice_title_link_background {
    grid-column: 1/2;
    grid-row: 1/3;
}
#wwr_heading, #ice_heading {
    margin: 0 20% 3% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.75fr;
    column-gap: 5%;
    text-align: left;
}
#wwr_heading *, #ice_heading * {
    color: #201335;
}
#wwr_description_background, #ice_description_background {
    grid-column: 2/3;
    grid-row: 1/3;
}
.background {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #FCE762;
    border: 3px solid #FFB17A;
}
#wwr_heading h1, #wwr_heading a, #ice_heading h1, #ice_heading a {
    grid-column: 1/2;
    justify-self: right;
}
.section_title, .section_link, .section_description {
    padding: 0 10% 0 10%;
}
.section_title {
    grid-row: 1/2;
    align-self: end;
}
.section_link {
    height: min-content;
    grid-row: 2/3;
    transition: font-weight 0.3s;
}
.section_link:hover {
    font-weight: bold;
}
.section_description {
    align-self: center;
}
#wwr_heading h3, #ice_heading h3 {
    grid-row: 1/3;
}
#wwr_examples, #ice_projects{
    padding: 3% 7% 3% 7%;
    grid-row: 2/3;
    background-color: #FFFDED;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
}
#wwr_examples *, #ice_projects * {
    color: #201335;
    align-items: center;
}
.wwr_example, .ice_project {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.wwr_example *, .ice_project * {
    grid-row: 1/2;
}
.wwr_example div, .wwr_example p, .ice_project a, .ice_project p {
    border: 3px solid #FFB17A;
    box-shadow: 5px 10px 3px #4F4789;
}
.wwr_example p, .ice_project p {
    min-height: 100px;
    padding: 5%;
    background-color: #FCE762 ;
}
.example_project_image {
    width: 75%;
    aspect-ratio: 1/1;
    overflow: hidden;
    transition: width 0.3s;
}
.example_project_image:hover {
    width: 150%;
    z-index: 1;
}
.wwr_example img, .ice_project img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}
#wwr_example_one div, #wwr_example_two div, #wwr_example_three div, #signup a, #gallery a, #positioning a, #grid_flags a, #halloween_page a, #favorite_devo_table a, #apostles_spotlight a, #prophet_card a {
    grid-column: 1/4;
}
#wwr_example_one p, #wwr_example_two p, #wwr_example_three p, #signup p, #gallery p, #positioning p, #grid_flags p, #halloween_page p, #favorite_devo_table p, #apostles_spotlight p, #prophet_card p {
    grid-column: 3/6;
}
.ice_project .ice_page_p_link {
    height: 0;
    padding: 0;
    text-decoration: underline;
    border: 0;
    box-shadow: 0 0;
    transition: font-weight 0.3s;
}
.ice_project .ice_page_p_link:hover {
    font-weight: bold;
}
#wwr_example_one {
    grid-column: 1/2;
}
#wwr_example_two {
    grid-column: 2/3;
}
#wwr_example_three {
    grid-column: 3/4;
}
#prophet_card, #halloween_page, #gallery {
    grid-column: 1/2;
}
#apostles_spotlight, #grid_flags, #signup {
    grid-column: 2/3;
}
#favorite_devo_table, #positioning {
    grid-column: 3/4;
}
#prophet_card, #apostles_spotlight, #favorite_devo_table {
    margin: 0 0 4% 0;
    grid-row: 1/2;
}
#halloween_page, #grid_flags, #positioning {
    margin: 4% 0 0 0;
    grid-row: 2/3;
}
#gallery, #signup {
    margin: 4% 0 0 0;
    grid-row: 3/4;
}
#about_me {
    padding: 8% 7% 0 7%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    /* grid-template-rows: 0.1fr; */
    column-gap: 7%;
    text-align: left;
}
#about_me div {
    grid-column: 1/2;
    grid-row: 1/3;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 5px solid #FFFDED;
}
#about_me img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#about_me h2, p {
    margin: 0;
    height: min-content;
    grid-column: 2/3;
}
#about_me h2 {
    align-self: end;
}
footer {
    margin: 3% 7% 3% 7%;
    display: grid;
    background-color: #4F4789;
}
footer * {
    grid-row: 1/2;
    align-self: center;
}
footer img {
    margin: 3% 0 0 0;
}



/* The following is the css for the ICE portal page. */

#ice_main hr {
    padding: 0;
    margin: 2% 0 2% 0;
}
.ice_section {
    padding: 2% 7% 2% 7%;
    background-color: #4F4789;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    column-gap: 5%;
}
.ice_title_link, .excercise_paragraphs {
    text-align: left;
}
.ice_title_link {
    grid-row: 1/2;
    width: max-content;
    justify-self: flex-start;
    align-self: flex-end;
}
.ice_title_link h1 {
    margin: 0;
    padding: 0;
    text-shadow: 3px 5px 5px #201335;
    transition: color 0.3s;
}
.ice_title_link h1:hover {
    color: #201335;
}
.ice_image_container, .excercise_paragraphs {
    border: 2px solid #201335;
    box-shadow: 3px 5px 5px #201335;
}
.ice_image_container {
    grid-column: 1/2;
    grid-row: 1/3;
    min-height: 100px;
    min-width: 100px;
    border: 2px solid #201335;
}
.ice_image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: sepia(100%) hue-rotate(207deg) saturate(2);
    transition: filter 0.3s;
}
.ice_image_container img:hover {
    filter: none
}
.excercise_paragraphs {
    grid-row: 2/3;
    margin: 0 0 2% 0;
    padding: 1.3% 2% 2% 2%;
    height: max-content;
    background-color: #FCE762;
}
.excercise_paragraphs * {
    color: #201335;
}