/* The following is the css for the TEAM PROJECTS REPORTS page. */

main {
    margin: 5% 0 10% 0;
}

#report_title {
    margin: 0 0 5% 0;
}

#report_title * {
    margin: 0;
    padding: 0;
}

.report {
    margin: 0 7% 7% 7%;
}

.report section * {
    text-align: left;
}