/* The following is the css for the TEAM PROJECTS REPORTS page. */

main {
    margin: 0 0 10% 0;
    padding: 5% 0 0 0;
}

#reports_title {
    margin: 0 0 5% 0;
}

#reports_title *, .report_title, .site_link {
    margin: 0;
    padding: 0;
}

.report {
    margin: 0 7% 7% 7%;
}

.report section * {
    text-align: left;
}

.report a {
    text-decoration: underline;
}